.geo-map-container {
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.geo-map-title {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: #111;
  margin-bottom: 25px;
}

.world-map {
  width: 100% !important;
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.world-map-tooltip {
  border-radius: 5px;
  font-weight: 500;
  padding: 8px;
}

